@model IEnumerable<Lap_4_5_6.Models.Course>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul>
        @foreach(var c in Model)
        {
            <li>
                @c.DateTime - @c.Lecturer.Name
            </li>
        }
    </ul>
</div>